* {
	margin: 0;
}
::-webkit-scrollbar{
	display: none;
}

.showcase{
	overflow-x: auto;
	white-space: nowrap;
	border: orangered solid 5px;
}



.picture {
	background-size: cover;
	display: inline-block;
	border: 5px solid snow;
	margin: 10px;
	box-shadow: 0 4px 5px 5px lightgray;
}

.square{
	width: 200px;
	height: 200px;
}

.rectangle{
	width: 400px;
	height: 200px;
}




