body{
	margin: 0;
}

::-webkit-scrollbar{
	display: none;
}

.gallery{
	width: 100vw;
	overflow: hidden;
}

.showcase{
	margin-top: 100px;
	overflow: auto;
	min-height: 390px;
	white-space: nowrap;
}



.picture {
	background-size: cover;
	background-position: center;
	display: inline-block;
	vertical-align: top;
	border: 10px solid snow;
	margin: 15px;
	box-shadow: 0 4px 10px 1px lightgray;
}

.square{
	width: 150px;
	height: 150px;
}

.rectangle-horizontal{
	width: 350px;
	height: 180px;
}

.rectangle-vertical{
	width: 180px;
	height: 250px;
}

div{
	perspective: 150px;
	perspective-origin: 50% 50%;
}

.floor{
	background-repeat: repeat-x;
	background-size: 50%;
	background-image: url("../img/floor.jpg");
	position: relative;
	left: -50%;
	width: 200%;
	transform: rotateX(40deg);
	height: calc(100vh - 490px);
	box-shadow: 0 -6px 10px 5px lightgray;
}






