@font-face {
	font-family: drunkedMan;
	src: url(../font/the_drunked_man_st.ttf);
}

.content{
	width:75vw;
	height: 75vh;
	position: relative;
	margin: auto;
}



.menu{
	position:relative;
	left: 8%;
	width: 500px;
	margin: 0 auto;

}

.portrait{

	width: 200px;
	height: 300px;
	position: absolute;
	left: -15%;
	top: 10%;

}

.menu > ul {
	z-index: 1;
	position: absolute;
	top:20%;
	left: 28%;
	width: 50%;
	height: 60%;

	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
}

.menu > ul > li{
	font-family: drunkedMan;
	display: block;
	padding: 30px;
}

ul > li > a{
	padding: 10px;
	text-decoration: none;
	color: #6c6894;
	border-bottom: 2px dashed #6c6894;
}

footer{
	margin: auto;
	padding-top: 20px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2em;
	color: 	#43486a
}
footer > small {
	color: #f68c5f
}




